@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700&display=swap");
.title {
  font-weight: 400;
  font-size: 46px;
  line-height: 56px;
  color: #121212;
  letter-spacing: -2%;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  color: #121212;
}

.container {
  width: 100%;
  max-width: 1252px;
  margin: 0 auto;
  padding: 0 20px;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  white-space: nowrap;
}

.navbar {
  border-bottom: 1px solid #000000;
}
.navbar__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 230px;
}
.navbar__logo {
  width: 160px;
  height: 20px;
}
.navbar__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 36px;
}
.navbar__login {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #121212;
  letter-spacing: -4%;
  padding: 28px 41px;
  background-color: #FF90E8;
  border-left: 1px solid #000000;
}
.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
}
.navbar-menu__link {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #121212;
  letter-spacing: -4%;
}

.header {
  border-bottom: 1px solid #000000;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-left {
  background-color: #FF90E8;
  padding: 112px 64px 187px 230px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.header-left__title {
  font-family: "Courier Prime", monospace;
  font-weight: 500;
  font-size: 78px;
  line-height: 88px;
  color: #121212;
  letter-spacing: -2%;
  font-family: "Poppins", sans-serif;
}
.header-left__text {
  margin-top: 10px;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #121212;
}
.header-left__row {
  margin-top: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 24px;
}
.header-left__button {
  padding: 12px 28px;
  background-color: #000000;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  letter-spacing: -4%;
}
.header-left__button--white {
  color: #000000;
  background-color: #ffffff;
}

.header-right {
  background-color: #FFC900;
  padding: 81px 0 105px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 1px solid #000000;
}

.header-card {
  margin: 0 auto;
}
.header-card__image {
  width: 424px;
  height: 424px;
}
.header-card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header-card__row {
  background-color: #ffffff;
  border: 1px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 28px 41px 28px 32px;
}
.header-card__title {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: #121212;
  font-family: "Poppins", sans-serif;
  letter-spacing: -2%;
}
.header-card__text {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #121212;
  letter-spacing: -2%;
}
.header-card__button {
  padding: 12px 14px;
  background-color: #FF90E8;
  border: 1px solid #000000;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #121212;
  letter-spacing: -4%;
}

.artists {
  padding: 80px 0 91px 0;
}
.artists__text {
  margin-top: 10px;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #121212;
}
.artists__row {
  margin-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}

.artists-card {
  border: 1px solid #000000;
  width: calc(25% - 18px);
}
.artists-card__image {
  height: 126px;
  width: 100%;
}
.artists-card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.artists-card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 14px;
  padding: 18px 20px;
}
.artists-card__icon {
  width: 36px;
  height: 36px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36px;
          flex: 0 0 36px;
}
.artists-card__icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.artists-card__title {
  font-family: "Courier Prime", monospace;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #121212;
  letter-spacing: -2%;
  font-family: "Mukta", sans-serif;
}
.artists-card__text {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #505050;
  letter-spacing: -2%;
}
.artists-card__button {
  padding: 8px 12px;
  background-color: #6FEDD6;
  border: 1px solid #000000;
}

.popular {
  padding: 80px 0;
  border-top: 1px solid #000000;
}
.popular__title {
  text-align: center;
}
.popular__text {
  text-align: center;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #121212;
  max-width: 550px;
  margin: 14px auto 0;
}
.popular__buttons {
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}
.popular__button {
  padding: 12px 24px;
  border-radius: 32px;
  border: 1px solid #000000;
}
.popular__button.active {
  background-color: #FF90E8;
}
.popular__row {
  margin-top: 68px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px 25px;
}

.popular-card {
  border: 1px solid #000000;
}
.popular-card__image {
  width: 100%;
  height: 400px;
}
.popular-card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.popular-card__info {
  padding: 30px 24px;
}
.popular-card__name {
  font-family: "Courier Prime", monospace;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #121212;
  letter-spacing: -2%;
}
.popular-card__price {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #121212;
  letter-spacing: -2%;
}
.popular-card__price span {
  font-weight: 700;
}
.popular-card__footer {
  margin-top: 18px;
  padding-top: 18px;
  border-top: 1px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popular-card__icon {
  width: 28px;
  height: 28px;
}
.popular-card__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.popular-card__username {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #505050;
}
.popular-card__time {
  padding: 6px 18px;
  background-color: #FFDF68;
  border: 1px solid #000000;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #121212;
  letter-spacing: -4%;
}

.statistic {
  padding: 86.5px 0;
  border-top: 1px solid #000000;
}
.statistic__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statistic-item__title {
  font-family: "Courier Prime", monospace;
  font-weight: 500;
  font-size: 78px;
  line-height: 88px;
  color: #121212;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.statistic-item__text {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #8B8B8B;
  text-align: center;
}

.gift {
  padding: 87px 0;
  background-color: #FFC900;
  border-top: 1px solid #000000;
}
.gift__title {
  text-align: center;
}
.gift__text {
  text-align: center;
  margin-top: 29px;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #1f1f1f;
  max-width: 574px;
  margin: 0 auto;
}
.gift__row {
  margin-top: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gift__button {
  border: 1px solid #000000;
  padding: 14px 28px;
  margin: 0 auto;
}

.roadmap {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.roadmap__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.roadmap-left {
  background-color: #23A094;
  padding: 150px 0 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.roadmap-right {
  border-left: 1px solid #000000;
  background-color: #FF90E8;
  padding: 70px 120px 45px 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 50%;
}
.roadmap-item {
  margin-top: 57px;
}
.roadmap-item:first-child {
  margin-top: 0;
}
.roadmap-item__count {
  width: 55px;
  height: 55px;
  background-color: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.roadmap-item__title {
  margin-top: 20px;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 46px;
  line-height: 56px;
  color: #121212;
  letter-spacing: -4%;
  font-family: "Poppins", sans-serif;
}
.roadmap-item__text {
  margin-top: 20px;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #121212;
}

.about {
  padding: 80px 0;
}
.about__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__text {
  margin-top: 7px;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #121212;
}
.about__button {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #121212;
  background-color: #6FEDD6;
  padding: 12px 28px;
  border: 1px solid #000000;
}
.about__row {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}

.about-card {
  border: 1px solid #000000;
}
.about-card__footer {
  padding: 24px 30px;
  border-top: 1px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about-card__title {
  font-family: "Courier Prime", monospace;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #121212;
  font-family: "Mukta", sans-serif;
}
.about-card__text {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #505050;
}
.about-card__date {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #505050;
}

.sell {
  padding: 80px 0;
  background-color: #6FEDD6;
  border-top: 1px solid #000000;
}
.sell__title {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}
.sell__row {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}
.sell__button {
  padding: 14px 28px;
  background-color: #FF90E8;
  border: 1px solid #000000;
}
.sell__button--dark {
  background-color: #000000;
  color: #ffffff;
}

.footer {
  border-top: 1px solid #000000;
  padding: 80px 0;
  background-color: #E6E6E6;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-left__text {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #505050;
}
.footer-left__input {
  margin-top: 10px;
  border: 1px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-left__input input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 18px 24px;
  border: none;
  outline: none;
}
.footer-left__input button {
  background-color: #FF90E8;
  padding: 18px 28px;
  border-left: 1px solid #000000;
}

.footer-right__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 20px;
}
.footer-right__copy {
  margin-top: 20px;
  margin-top-font-family: "Courier Prime", monospace;
  margin-top-font-weight: 400;
  margin-top-font-size: 16px;
  margin-top-line-height: 24px;
  margin-top-color: #505050;
  margin-top-letter-spacing: -4%;
}